<div class="col-md-3 col-xs-6 landing-category">
  <div class="thumbnail">
    <a href="<%= category_products_path(category: category) %>">
      <%= cl_image_tag image_id,
                    alt: "View all #{category}",
                    gravity: :south,
                    fetch_format: :auto,
                    quality: 70,
                    mobile_quality: 40,
                    width: 400,
                    mobile_width: 300,
                    crop: :pad
      %>
      <div class="caption text-center">
        <h3><%= title.upcase %></h3>
      </div>
    </a>
  </div>
</div>