<h1>#morethanbeautiful Blog</h1>

<div class="text-center">
  <% @posts.each do |post| %>
    <article>
      <%= link_to blog_post_path(post.slug) do %>
        <% if post.content.present? %>
          <%= image_tag("blog/#{post.slug}/#{post.slug}.png", class:'img-responsive') %>
        <% else %>
          <%=
            cl_image_tag(
              post.banner_image_ref,
              fetch_format: :auto,
              quality: 60,
              height: 600,
              width: 600,
              mobile_quality: 60,
              mobile_height: 500,
              mobile_width: 500,
              crop: :fit,
              class: 'img-responsive'
            )
          %>
        <% end %>
        <h2><%= post.title %></h2>
      <% end %>
    </article>
  <% end %>
</div>