<article itemscope itemtype="http://schema.org/Article" role='article'>
  <header>
    <h1 itemprop="name"><%= @post.title %></h1>
  </header>
  <div itemprop='articleBody'>
    <%= raw(markdown_format @post.content) %>
  </div>

<video width="320" height="240" controls>
  <source src="<%= path_to_video 'kaya_active_join_the_movement.mp4' %>" type="video/mp4">
  Your browser does not support the video tag.
</video>

</article>