<div class="col-md-2 hidden-xs"></div>
<div class="col-md-8">
  <article itemscope itemtype="http://schema.org/Article" role='article' id='blogPost'>
  <header>
    <h1 itemprop="name"><%= @post.title %></h1>
  </header>
  <div itemprop='articleBody'>
    <%= raw(markdown_format(erb_compile(@post.content))) %>
  </div>
</article>
</div>
<div class="col-md-2 hidden-xs"></div>