<% content_for :title, "#{@post.title} | Kaya Active Blog | #morethanbeautiful Blog " %>
<% content_for :description, "#{@post.title} | Kaya Active Blog | #morethanbeautiful Blog " %>
<% content_for :img_src do %><link rel="image_src" href="<%= asset_url("blog/#{@post.slug}.png") %>" / ><% end %>

<div class="col-md-2 hidden-xs"></div>
<div class="col-md-8">
  <article itemscope itemtype="http://schema.org/Article" role='article' id='blogPost'>
  <header>
    <h1 itemprop="name"><%= @post.title %></h1>
  </header>
  <div itemprop='articleBody' class='articleBody'>
    <%= raw(markdown_format(erb_compile(@post.content))) %>
  </div>
</article>
</div>
<div class="col-md-2 hidden-xs"></div>