<div class='confirmation'>
  <h1>Thank you for your order.</h1>

  <h2>Your order number is: <%= @purchase.code %></h2>

  <p>You will receive an email confirmation shortly at: <%= @purchase.email_address %></p>
</div>