<div class="text-center">
	<h1>404</h1>
	<p>Sorry, it looks like the page you're after doesn't exist.</p>
	<p>Maybe you'll find what you're looking for on the <%= link_to "homepage", root_path %></p>
</div>