<%= content_for :title, "Our Story | " %>

<div class="row">
  <div class="col-md-8">
    <h1>Our Story</h1>

    <p>Kaya as a name means the sea, with all its power, life, colours, strength and flexibility. It also means restful place, yew tree, forgiveness; a place of rest and relaxation: a home; stone; willow, wise child; the one with the beautiful body.</p>

    <p>Kaya Active was born from a love of colours and willingness to experiment – to reinvent “Classics” by playfully mixing colours and patterns offering something truly unique.</p>

    <p>We are 2 friends, brought up in the country of carnaval, willing to make women feel more than beautiful by offering them the opportunity to be bold, comfortable, confident, active and inspired while wearing our sportswear, and proud to gain inspiration and collaborate with people and concepts that portray the same free spirit, integrity and creativity.</p>

    <p>Our active wear is meticulous in attention to detail, fit, quality and fabric. Our prime quality inspiring sportswear is perfect for yoga, crossfit, pilates, running, and all kinds of functional movement.</p>

    <p><%= youtube_tag('nJuzAXjobPQ') %></p>
  </div>
  <div class="col-md-4 sidebar">
    <%= render partial: 'shared/sidebar' %>
  </div>
</div>