<%= content_for :title, "Returns information | " %>

<h1>Australian returns</h1>

<h2>Feel confident. Kaya active takes the risk out of ordering!<h2>

<h2>Returns Policy</h2>

<p>Ordering is Easy &amp; Risk Free!</p>

<p>Kaya Active is committed to customer satisfaction- if you receive any merchandise that you are unhappy with for
any reason, simply return it to us within the time frame listed below, in the condition that you received it and we
will happily refund your item*.</p>

<p><small>*Please refer to the returns process below for instructions on how to return your item. Refunds not
applicable on promotional items.^</small></p>

 
<ul>
  <li>Refunds (full price items^) - 100 days from date of purchase</li>
  <li>Refunds (sale items^) - 30 days from date of purchase</li>
  <li>Feel confident, Kaya active takes the risk out of ordering!</li>
</ul>
 

<p>^Sale items can be refunded after 30 days if the product is faulty under warranty or the incorrect item was
received.</p>

 

<h2>Returns Process</h2>

<p>If for any reason you would like to return your product to us please follow the simple steps below:</p>

<ol>
<li>Complete the Return section on the lower part of your invoice &amp; enclose with your return merchandise. Be sure to complete all fields to ensure prompt turn around.</li>

<li>Pack all items with your invoice in a secure carton. Please ensure that all boxed items are securely enclosed in
a satchel as we are not able to accept them if damaged.</li>

<li>Affix the pre-addressed label to your package. If you have lost this, don't worry! Our address is:
<br/>
706/50 Clarence Street<br/>
Sydney<br/>
Australia<br/>
NSW 2000</li>

<li>Attend your local Post Office and send to the labelled address. For security and peace of mind, we strongly
suggest insured registered post as Kaya Active is not liable for lost return parcels.</li>

<li>Once received in our office, we will inspect and process the goods within 48 hours to ensure you receive your
refund as quickly as possible. To keep you informed, we will email you confirmation of your refund, and how it is
being processed to your original form of payment. In most cases, refunds should hit your account within 1-5
business days.</li>
</ol>

<h2>Faulty Returns</h2>

<p>If you have a faulty item that you would like refunded, repaired or replaced, please follow the Returns Process
above.</p>

<p>Faulty items may be returned outside of the returns time frames listed above, provided the item is still under
warranty.</p>

<p>Please make sure you enclose your original invoice, along with a clear description of the fault. Please contact us
at marketing@kayaactive.com if you need a new copy of the invoice.</p>

<p>We aim to have your refund processed within 48 hours of receiving; however some faults must be approved by
the manufacturer before a refund or replacement can be issued. In this case we will keep you informed through
regular email updates. This process usually takes around 8 weeks and once completed, you should receive your
refund or replacement within 1-3 business days.</p>

<p>Watch returns. Warranty periods and service standards for faulty returns varies between manufacturers. Kaya
Active works closely with its suppliers to encourage prompt turnaround of faulty returns, but we have no control
over their assessment process. In most cases, products returned in a used condition will be repaired instead of
replaced or refunded. For more information on your product's warranty, please contact the brand directly.</p>

<p>If an order is deemed faulty, we will gladly reimburse the return postage up to a total of $10.00. This includes
postage only; packaging is at an additional cost to you. For further in depth information on warranties and faulty
items, please contact our customer service team.</p>

<h2>Return Terms and Conditions</h2>

<p>All items returned for refund must be returned in the original condition with tags attached (unless faulty).
Any packaged goods must be returned with the packaging in its original condition or may not be accepted (unless
faulty). When trying on yoga mats we advise using a clean surface as yoga mats with marked or dirty soles may
not be accepted for return. Please ensure all returned clothing items are free from marks, stains and rips as they
may not be accepted for return if received damaged (unless faulty).</p>

<p>Online purchases cannot be returned to a our office in person. Online purchases may only be returned
by sending them to the Returns Address as per this process.</p>

<p>Boxed/Packaged Goods: Please note that if you are wanting to return boxed goods, they must be returned to
Kaya Active in the original unmarked packaging and in good condition. If the items are being posted back, please
ensure you pack them inside a satchel &amp; do not attach anything to the outside of the original packaging. Should
the packaging be marked or in unsatisfactory condition there may be a chance that we will not refund the goods.</p>

 
<h2>International Return Policy</h2>

<p>Ordering is Easy &amp; Risk Free!</p>

<p>Kaya Active is committed to customer satisfaction. If you receive any merchandise that you are unhappy with for
any reason, simply return it to us within the time frame listed below, in the condition that you received it and we
will happily exchange or refund*.</p>

<p>*International exchanges will be charged a re-shipping fee to have the new goods shipped back to you.</p>

<p>*Refunds not applicable on sale or promotional items.</p>

<p>Exchanges (full price items) -100 days from date of purchase</p>

<p>Exchanges (sale items) -100 days from date of purchase</p>

<p>Refunds (full price items) -100 days from date of purchase</p>

<p>Feel confident, Kaya Active takes the risk out of ordering!</p>

<h2>Returns Process</h2>

<ol>
<li>Complete the Return section on the lower part of your invoice &amp; enclose with your return merchandise. Be sure
to complete all fields to ensure prompt turn around.</li>
<li>Pack all items with your invoice in a secure carton. Please ensure that all boxed items are securely enclosed in
a satchel as we are not able to accept them if damaged.</li>
<li>Affix the pre-addressed label to your package. If you have lost this, don't worry! Our address is:
<br/>
706/50 Clarence Street<br/>
Sydney<br/>
Australia<br/>
NSW 2000
</li>
<li>Attend your local Post Office and send to the labelled address. For security and peace of mind, we strongly
suggest insured registered post as Kaya Active is not liable for lost return parcels.</li>
<li>Once received in our office, we will inspect and process the goods within 48 hours to ensure you receive your
refund as quickly as possible. To keep you informed, we will email you confirmation of your refund, and how it is
being processed to your original form of payment. In most cases, refunds should hit your account within 1-5
business days.</li>
<li>Your exchange shipping charge will be added to your exchanged goods and this charge will be processed to
the original payment method used on the order.</li>
<li>You will then receive a new tracking number for your exchange via email and your new goods will be on their
way to you.</li>
</ol>

<h2>International Exchange Shipping</h2>

<p>International exchanges will be charged a re-shipping fee. By returning your goods for exchange, you are
agreeing to payment of these charges. This charge will appear on your exchange invoice.</p>

<p>*Excludes heavy/bulky item exchanges. Shipping charges will be quoted to you before your exchange is
processed</p>

<h2>Faulty Returns Needing Repair</h2>

<p>If you have a faulty item that you would like repaired, please follow the simple steps of a normal return as shown
above.</p>

<p>Please make sure you enclose your original invoice, along with a description of the fault. Please contact us at
marketinga@kayaactive.com if you need a new copy of the invoice.</p>

<p>Once received in our office, we will inspect and send the goods onto manufacturer. The manufacturer will then
issue a refund or repair the goods. We aim to have your refund processed within 24 hours of receiving; however
some faults must be approved by the manufacturer before a refund or replacement can be issued. In this case
we will keep you informed.</p>

<p>Please allow approximately 8 weeks for the processing of your faulty return once received. Contact will be made
by email informing you of the RA Number and all relevant details. Once returned to us by the manufacturer, we
will post the item back to you the same day.</p>

<p>If an order is deemed faulty, we will gladly reimburse the return postage up to a total of $10.00. This includes
postage only; packaging is at an additional cost to you. For further in depth information on warranties and faulty
items, please contact our customer service team.</p>

<h2>Return Terms and Conditions</h2>

<p>Kaya Active returns department operates Monday-Friday. Once your order is received in our warehouse, we will
inspect and process the goods within 48 hours. We will inform you by email when your transaction is being
processed.</p>

<h2>Kaya Active cannot accept COD deliveries.</h2>

<p>Please note that if you are wanting to exchange or return boxed goods, they must be returned to Kaya Active in
the original unmarked packaging and in good condition. If the items are being posted back, please ensure you
pack them inside a satchel &amp; do not attach anything to the outside of the original packaging. Should the
packaging be marked or in unsatisfactory condition there may be a chance that we will not exchange or refund
the goods.</p>

<p>Due to hygiene reasons, Kaya Active is not able to do an exchange or refund on bodysuits.</p>

<p>Swimwear can be returned if it is unworn, and in its original condition with all tags and protection stickers
attached. Please note that all swimwear that is sold in a set must be returned in a set.</p>

<p>Australian orders returned to our European warehouse will be forwarded to Australia for processing. Please allow
an additional 7-10 days for your return to be processed</p>

<p>If you have any further questions, please contact customer service on:</p>

<a href="mailto:marketing@kayaactive.com">Email: marketing@kayaactive.com</a>
