<%= content_for :title, "Shipping Information | " %>

<h1>Shipping</h1>

<h2>Shipping Price</h2>
<p>Shipping within Australia is <strong>FREE</strong></p>
<p>Shipping to New Zealand is a flat rate of $17.55AUD per item.</p>
<p>Shipping to the United States and Canada is a flat rate of $21.10AUD per item.</p>
<p>Shipping to all other locations is a flat rate of $25.20AUD per item.</p>

<h2>Australian Shipping</h2>
<p><strong>Free</strong> delivery within Australia (Regular Parcel Post Small – signature required) 3-7 business days to
metro areas signature required.</p>

<h3>Regular Shipping - (signature required)</h3>
<p><strong>Free for any piece</strong></p>
<p>Orders placed before 4.00pm AEST in Metro areas should be received between 3-7 business days. This service
can take longer to some rural areas. Regular Shipping is a signature required service. This means that the
courier will need you to sign when you receive your order.  If you are not present to accept your delivery, a card
will be left to advise where your parcel can be collected. This information can also be viewed by clicking the
Track Your Order link in your shipping confirmation email.</p>
<p>Once the parcel has been delivered to your shipping address, Kaya Active takes no responsibility for any
damage that may occur. For further info, please contact <a href="mailto:marketing@kayaactive.com">marketing@kayaactive.com</a></p>
<p>All orders are subject to weight &amp; volume restrictions. Some bulky orders may be charged a higher shipping rate
and cannot be shipped regularly. You will be contacted via e-mail if necessary.</p>

<h2>International Shipping - (signature required)</h2>

<p>Orders placed before 11.00am AEST in Metro areas should be received between 3-10 business days. This
service can take longer to some areas. International Shipping is a signature required service. This means
that the courier will need you to sign when you receive your order.  If you are not present to accept your delivery,
a card will be left to advise where your parcel can be collected. This information can also be viewed by clicking
the Track Your Order link in your shipping confirmation email.</p>

<p>Once the parcel has been delivered to your shipping address, Kaya Active takes no responsibility for any damage
that may occur. For further info, please contact <a href="mailto:marketing@kayaactive.com">marketing@kayaactive.com</a></p>

<p>All orders are subject to weight &amp; volume restrictions. Some bulky orders may be charged a higher shipping rate
and cannot be shipped regularly. You will be contacted via e-mail if necessary.</p>

<!-- To track your item on its journey, go to our track tool and enter the tracking number found on your receipt. Your

code will be in a similar format to "LK970012566AU".

You'll be able to see when your parcel has been:

 received and accepted by a post office

 processed for international delivery

 received by the overseas postal organisation

 delivered to its final destination

http://auspost.com.au/parcels-mail/pack-and-track-international.html -->