<%= content_for :title, "Contact and purchasing details | " %>

<ol class="breadcrumb hidden-xs">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Purchasing &amp; Contact</li>
</ol>


<h1>Purchasing &amp; Contact</h1>
<p>To purchase any of our beautiful pieces send us an email or give us a call.</p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Order Enquiries</h2>
      </div>
      <div class="panel-body">
        <div>
          <span class='hide'>Email:</span>
          <span class="glyphicon glyphicon-envelope"></span>
          <span><%= link_to "marketing@kayaactive.com", "mailto:marketing@kayaactive.com", itemprop: "email" %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Visit our show room by appointment</h2>
      </div>
      <div class="panel-body">
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">6/151 Blair street</span><br>
          <span itemprop="addressLocality">North bondi</span><br>
          <span itemprop="postalcode">2026</span>
        </span>
      </div>
      <div class="panel-body">
        <div>
          <span class='hide'>Email:</span>
          <span class="glyphicon glyphicon-envelope"></span>
          <span><%= link_to "sales@kayaactive.com", "mailto:sales@kayaactive.com", itemprop: "email" %></span>
        </div>
      </div>

    </div>
  </div>
</div>

