<%= content_for :title, "Contact and purchasing details | " %>

<ol class="breadcrumb hidden-xs">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Contact Us</li>
</ol>


<h1>Contact Us</h1>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Order Enquiries</h2>
      </div>
      <div class="panel-body">
        <div>
          <span class='hide'>Email:</span>
          <span class="glyphicon glyphicon-envelope"></span>
          <span><%= link_to "kaya@kayaactive.com", "mailto:kaya@kayaactive.com", itemprop: "email" %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Visit our show room by appointment</h2>
      </div>
      <div class="panel-body">
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">706/50 Clarence Street</span><br>
          <span itemprop="addressLocality">Sydney</span><br>
          <span itemprop="postalcode">2000</span>
        </span>
      </div>
      <div class="panel-body">
        <div>
          <span class='hide'>Email:</span>
          <span class="glyphicon glyphicon-envelope"></span>
          <span><%= link_to "kaya@kayaactive.com", "mailto:kaya@kayaactive.com", itemprop: "email" %></span>
        </div>
      </div>

    </div>
  </div>
</div>

