@import "bootstrap-sprockets";
@import "bootstrap";

.carousel-control {
  &.left, &.right {
    background-image: none;
    @include reset-filter();
  }
}

ol.breadcrumb {
  background-color: white;
  font-size: 85%;
}