$font-family-base: 'Muli', Verdana, Helvetica, sans-serif;
$grid-float-breakpoint: 100px;
$font-size-base: 12px;

@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h4.panel-title {
  font-size: 160%;
  text-transform: uppercase;
}


/* accordion style */
#accordion > .panel-default {
  border: 0px;
  margin-top:2px;
}

#accordion > .panel-default > .panel-heading {
  background-color: #656565;
  color: white;
  border-radius: 0;
}

#accordion h4.panel-title {
  font-size: 95%;
  font-weight: normal;
}

#accordion .panel-title > a {
  display: inline-block;
  width:100%;
  padding: 10px 15px;
}

#accordion .panel-title > a span.left {
  display: inline-block;
  text-align: left;
  width:90%;
}
#accordion .panel-title > a span.right {
  text-align: right;
  width:10%;
  display: inline-block;
}

#accordion .panel-heading {
  padding:0;
}
/* END: accordion style */

/* Nav and header */
.header-logo {
  text-align: center;
}

@media screen and (max-width: 368px) {
    img.small-on-mobile{
        max-height: 100px;
    }

}

.navbar-default {
  background-color: white;
  border-color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  font-size: 75%;
  text-transform: uppercase;
}

.dropdown-menu {
  font-size: 95%;
}

.navbar .navbar-collapse {
  text-align: center;
}
/* END: Nav and header */

.category-title {
  margin-top:0;
  text-transform: uppercase;
  font-size: 160%;
  font-weight: normal;
}

.carousel-control {
  &.left, &.right {
    background-image: none;
    @include reset-filter();
  }
}

.back-to-category-xs {
  font-size: 75%;
  text-transform: uppercase;
}

ol.breadcrumb {
  background-color: white;
  font-size: 75%;
  padding-left:0;
  text-transform: uppercase;
}

/* thumbnail */
.thumbnail {
  border: 0 none;
  box-shadow: none;
}

.thumbnail .caption {
  height:50px;
}

.thumbnail .caption h3 {
  margin-top:5px;
  margin-bottom:0px;
  font-size: 12.5px;
  font-weight: bold;
}

.thumbnail .caption .price {
  font-size: 12.5px;
}
/* END: thumbnail */

/* carousel */
.carousel-control {
  color: #656565;
  font-size: 10px;
}

.carousel-indicators {
  bottom:-20px
}

.carousel-indicators .active {
  background-color: #4b4b4b;
  height: 9px;
  width: 9px;
}

.carousel-indicators li {
  background-color: white;
  border:1px solid #656565;
  height: 8px;
  width: 8px;
}
/* END: carousel */