$font-family-base: 'Muli', Verdana, Helvetica, sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";

.carousel-control {
  &.left, &.right {
    background-image: none;
    @include reset-filter();
  }
}

ol.breadcrumb {
  background-color: white;
  font-size: 85%;
  padding-left:0;
}

.navbar {
  border-radius: 0;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
}

.thumbnail .caption {
  height:50px;
}

.thumbnail .caption h3 {
  margin-top:5px;
  margin-bottom:0px;
  font-size: 12.5px;
  font-weight: bold;
}

.thumbnail .caption .price {
  font-size: 12.5px;
}

.category-title {
  margin-top:0;
}

.carousel-control {
  color: #656565;
  font-size: 10px;
}

.carousel-indicators {
  bottom:-20px
}

.carousel-indicators .active {
  background-color: #4b4b4b;
  border:1px solid #4b4b4b;
  height: 9px;
  width: 9px;
}

.carousel-indicators li {
  background-color: #7c7c7c;
  border:1px solid #656565;
  height: 7px;
  width: 7px;
}

