@import "bootstrap-sprockets";
@import "bootstrap";

.carousel-control {
  &.left, &.right {
    background-image: none;
    @include reset-filter();
  }
}

ol.breadcrumb {
  background-color: white;
  font-size: 85%;
  padding-left:0;
}

.navbar {
  border-radius: 0;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
}