$font-family-base: 'Muli', Verdana, Helvetica, sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";

.carousel-control {
  &.left, &.right {
    background-image: none;
    @include reset-filter();
  }
}

ol.breadcrumb {
  background-color: white;
  font-size: 85%;
  padding-left:0;
}

.navbar {
  border-radius: 0;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
}

.thumbnail .caption {
  height:40px;
}

.thumbnail .caption h3 {
  margin-top:5px;
  margin-bottom:0px;
  font-size: 12.5px;
  font-weight: bold;
}

.thumbnail .caption .price {
  font-size: 12.5px;
}

.category-title {
  margin-top:0;
}