$font-family-base: 'Muli', Verdana, Helvetica, sans-serif;
$grid-float-breakpoint: 100px;
$font-size-base: 13px;

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@import "bootstrap-sprockets";
@import "bootstrap";

@import "landing";
@import "checkout";

.footer {
  background-color: #646464;
  color: white;
  font-size: 10px;

  li {
    list-style-type: none;
  }

  a {
    color: white;
  }

  h4 {
    font-size: 12px;
  }
  .footer-social {
    background-color: red;
    height:1px;
  }
}

.navbar.homepage {
  margin-bottom: 0;
}

.homepage-image {
  position: relative;
}

.homepage-image div {
  position: absolute;
  top:10%;
  left:40%;
  text-align: center;
  z-index: 2;
  color: white;
  font-weight: bold;
  font-family: 'Lato';
  font-size: 80px;
  text-shadow: 1px 1px #7D8C98;
  text-transform: uppercase;
}

.homepage-image div .small {
  margin-top: 90px;
  font-size: 30px;
  font-weight: normal;
  text-transform: none;
}

@media screen and (max-width: 368px) {
  .homepage-image div {
    font-size: 20px;
  }

  .homepage-image div .small {
    margin-top: 30px;
    font-size: 10px;
    font-weight: normal;
    text-transform: none;
  }
}

.homepage-text {
  text-align: center;
  padding: 40px;
}

.homepage-text > p {
  padding: 10px;
}

.homepage-text > ul {
  list-style-type: none;
  padding-left: 0;
}

@media screen and (min-width: 368px) {
    .homepage-text > p{
      width:80%;
      margin:auto;
    }
}

/* accordion style */
#accordion > .panel-default {
  border: 0px;
  margin-top:2px;
}

#accordion > .panel-default > .panel-heading {
  background-color: #656565;
  color: white;
  border-radius: 0;
}

#accordion h4.panel-title {
  font-size: 100%;
  font-weight: normal;
}

#accordion .panel-title > a {
  display: inline-block;
  width:100%;
  padding: 10px 15px;
}

#accordion .panel-title > a span.left {
  display: inline-block;
  text-align: left;
  width:90%;
}
#accordion .panel-title > a span.right {
  text-align: right;
  width:10%;
  display: inline-block;
}

#accordion .panel-heading {
  padding:0;
}
/* END: accordion style */

/* Nav and header */
@import "nav-and-header";
/* END: Nav and header */

.category-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
}

.carousel-control {
  &.left, &.right {
    background-image: none;
    @include reset-filter();
  }
}

.back-to-category-xs {
  text-transform: uppercase;
}

ol.breadcrumb {
  background-color: white;
  padding-left:0;
  text-transform: uppercase;
}

/* thumbnail */
.thumbnail {
  border: 0 none;
  box-shadow: none;
}

.thumbnail .caption {
  height:50px;
}

.thumbnail .caption h3 {
  margin-top:5px;
  margin-bottom:0px;
  font-size: 100%;
  font-weight: bold;
}

.thumbnail .caption .price {
  font-size: 100%;
}
/* END: thumbnail */

/* carousel */
.carousel-control {
  color: #656565;
}

.carousel-indicators {
  bottom:-20px
}

.carousel-indicators .active {
  background-color: #4b4b4b;
  height: 9px;
  width: 9px;
}

.carousel-indicators li {
  background-color: white;
  border:1px solid #656565;
  height: 8px;
  width: 8px;
}
/* END: carousel */