.basket-summary, .order-summary {
  @media screen and (max-width: 500px) {
    tr {
      border: 1px solid #ddd;

      td {
        display: block;
        border-top: 0 !important;
      }

      td:before {
        margin-right: 30px;
        display:inline-block;
        text-align: right;
        align: right;
        width: 25%;
      }

      td.price:before {
        content: 'Price';

      }

      td.total:before {
        content: 'Total';

      }

      td.qty:before {
        content: 'Quantity';
      }
    }
  }
}