#blogPost .articleBody {
  > p, > ol {
    font-size: 17px;
    margin-bottom: 10px;
    text-align: justify;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
  }
}

.blog_posts.index {
  article {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  img {
    display: inherit;
  }
}