#blogPost {
 .articleBody {
  > p, > ol {
    font-size: 17px;
    margin-bottom: 10px;
    text-align: justify;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
  }
}

  .share {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    h3 {
      margin-bottom: 20px;
    }
    ul {
      padding:0;
    }
    li {
      font-size: 40px;
      display: inline;
      padding: 10px;

      a {
        text-decoration: none;
      }
    }
    .facebook {
      a {
        color: #355f9f;
      }
      .facebook a:hover {
        color: #256e9e;
      }
    }

    .twitter {
      a {
        color: #2ba9e1;
      }
      a:hover {
       color: #256e9e;
      }
    }

    .pinterest {
      a {
        color: #ca2026;
      }
      a:hover {
       color: #9c2021;
      }
    }

    .googleplus {
      a {
        color: #db5442;
      }
      a:hover {
       color: #db5442;
      }
    }
  }
}

.blog_posts.index {
  article {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  img {
    display: inherit;
  }
}