.checkout {
  margin-bottom: 50px;

  .js-stripe-error {
    display: none;
  }

  .expiration input {
    width: 80px;
    display: inline-block;
  }

  .buttons > div, .buttons > button{
    margin-bottom:10px;
  }

  .error {
    color:red;
  }
}

.confirmation {
  h1 {
    font-size: 36px;
    text-transform: normal;
  }
  h2 {
    font-size: 30px;
    text-transform: normal;
  }
}
