.footer {
  background-color: #EFEFEF;
  color: black;
  text-align: center;
  font-size: 10px;
  border-top: 1px solid #c4c4c4;

  .container.address {
    border-top: 1px solid #c4c4c4;
    margin-top: 10px;
  }

  .container {

    #signup {
      .alert-success{
        width: 164px;
        padding:5px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    padding: 10px 0;
    ul {
      padding-left: 0;
    }
    li {
      list-style-type: none;
    }
    h4 {
      font-size: 12px;
    }
    ul.social {
      height:30px;

      li {
        display: inline;
        font-size: 20px;
        padding: 5px;

        a, a:hover{
          text-decoration: none;
        }
      }
      .facebook {
        a {
          color: #355f9f;
        }
        .facebook a:hover {
          color: #256e9e;
        }
      }

      .twitter {
        a {
          color: #2ba9e1;
        }
        a:hover {
         color: #256e9e;
        }
      }

      .pinterest {
        a {
          color: #ca2026;
        }
        a:hover {
         color: #9c2021;
        }
      }

      .googleplus {
        a {
          color: #db5442;
        }
        a:hover {
         color: #db5442;
        }
      }

    }


  }
}
