.landing-category .thumbnail{
  border: 1px solid #777;
  border-radius: 0;
  position:relative;
}

.landing-category .caption {
  position:absolute;
  top:10%;
  left:0px;
  font-size: 18px;
  font-weight: thin;
  color: white;
  letter-spacing: -2px;
  background-image: image-url('categories/cat_background.png');
  width:100%;
  text-align: left;
}