html {
  height: 100%;

  body.landing {
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    color: white;
    background: url(asset_path('background.jpg')) no-repeat 90% 30% fixed;
    @media screen and (max-width: 500px) {
     background-position: 90% top;
    }
    background-size: cover;
    height: 80%;

    .site-wrapper {
      text-align: center;
      display: table;
      width: 100%;
      height: 100%;
      min-height: 100%;
      .site-wrapper-inner {
        display: table-cell;
        vertical-align: middle;

        .masthead {
          text-align: center;
          width: 100%;
          margin-right: auto;
          margin-left: auto;
          .navbar-brand {
            height: auto;
            @media screen and (max-width: 500px) {
              width:200px;
            }
            width:300px;
            float: none;
          }
        }

        .cover-container {
          width: 50%;
          margin-right: auto;
          margin-left: auto;
        }

        .navigation {
          li {
            display: inline-block;
            padding: 0 10px;
          a {
              // opacity: 0.4;
              color: white;
              text-decoration: underline;
            }
            a:hover {
              opacity: 1;
              text-decoration: none;
            }

          }
        }

        footer {
          width: 100%;
          position: fixed;
          bottom: 0;
          text-align: right;
          // background-color: #646464;
          .social {
            margin-right: 20px;
            li {
              display: inline;
              a {
                opacity: 0.4;
                color: white;
              }
              a:hover {
                opacity: 1;
              }
            }
          }
        }
      }

    }

  }
}