html {
  height: 100%;

  body.landing {
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    color: white;
    background: url(asset_path('background.jpg')) no-repeat 90% 30% fixed;
    @media screen and (max-width: 500px) {
     background-position: 90% top;
     // background: url(asset_path('background-mobile.jpg')) no-repeat 90% top fixed;
    }
    background-size: cover;
    height: 80%;

    .navbar {
      border-bottom: 0;

      background: rgba(0,0,0,0.15);
      background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.15)), color-stop(100%, rgba(255,255,255,0)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );


      ul.navigation {
        margin-bottom: 0;
        text-align: center;
        li {
          a {
            color: white;
          }
          padding: 0 20px;
          display: inline;
          .navbar-brand {
            height: auto;
            width:170px;
            float: none;
          }
        }
      }
      .burger-menu {
        position: fixed;
        top: 10px;
        left:0;
        width:100%;
        .panel{
          .panel-body {
            border-top: 0;
            padding: 0;
          }
          background-color: inherit;
          .panel-heading {
            h4 {

            }
          }
        }
      }
    }

    .site-wrapper {
      text-align: center;
      display: table;
      width: 100%;
      height: 100%;
      min-height: 100%;
      .site-wrapper-inner {
        display: table-cell;
        vertical-align: middle;

        .cover-container {
          width: 50%;
          margin-right: auto;
          margin-left: auto;
        }

        .navigation {
          li {
            display: inline-block;
            padding: 0 10px;
          a {
              // opacity: 0.4;
              color: white;
              text-decoration: underline;
            }
            a:hover {
              opacity: 1;
              text-decoration: none;
            }

          }
        }

        footer {
          width: 100%;
          position: fixed;
          bottom: 0;
          text-align: right;
          // background-color: #646464;
          .social {
            margin-right: 20px;
            li {
              display: inline;
              a {
                opacity: 0.4;
                color: white;
              }
              a:hover {
                opacity: 1;
              }
            }
          }
        }
      }

    }

  }
}