/* Navigation */
.navbar {
  border-bottom: 0;

  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 77%, rgba(255,255,255,0.26) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(77%,rgba(255,255,255,1)), color-stop(94%,rgba(255,255,255,0.26)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 77%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 77%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 77%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 77%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

  margin-bottom: 0;

  ul.navigation {
    margin-bottom: 0;
    text-align: center;
    .logo {
      position: relative;
      z-index: 1;
    }
    li {
      a {
        color: black;
      }
      padding: 0 20px;
      display: inline;
      .navbar-brand {
        height: auto;
        width:150px;
        float: none;
        padding: 16px 10px;
      }
    }
  }
  .burger-menu {
    text-shadow:none;
    position: fixed;
    top: 10px;
    left:0;
    width:100%;
    .panel{
      box-shadow: none;
      .panel-body {
        border-top: 0;
        padding: 0;
      }
      background-color: white;
      .panel-heading {
        h4 {

        }
      }
    }
  }
}
/* END: Navigation */
