/* Navigation */
.navbar {
  border-bottom: 0;

  background: white;

  ul.navigation {
    margin-bottom: 0;
    text-align: center;
    .logo {
      position: relative;
      z-index: 1;
    }
    li {
      a {
        color: black;
      }
      padding: 0 20px;
      display: inline;
      .navbar-brand {
        height: auto;
        width:170px;
        float: none;
      }
    }
  }
  .burger-menu {
    text-shadow:none;
    position: fixed;
    top: 10px;
    left:0;
    width:100%;
    .panel{
      .panel-body {
        border-top: 0;
        padding: 0;
      }
      background-color: white;
      .panel-heading {
        h4 {

        }
      }
    }
  }
}
/* END: Navigation */
