<%#= link_to "View all leggings", root_path %>

<div class="row">
  <div class="col-md-4 col-xs-6">
    <h1><%= @product.name.strip -%></h1>
  </div>
  <div class="col-md-8 col-xs-12">
    <% @product.images.each do |image| %>
      <%= cl_image_tag image.cloudinary_ref,
            alt: "#{@product.name}",
            height: 800,
            width: 200,
            crop: :pad,
            format: :png
      %>
    <% end %>
  </div>
</div>